#root {
    width: 100%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    text-transform: capitalize;
    color: green;
}

button {
    padding: 10px 20px;
    border-radius: 3px;
}

header {
    width: 100%;
    margin: auto;
}

nav {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(180, 176, 176);
    padding: 10px;
    background-color: #d7d8d9;

    &>a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 12px;
    }
}

li:hover {
    background-color: #b2c5dc;
}
form {
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
}

label {
    font-size: 20px;
    color: #2b619e;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #8caacf;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0468aa;
    color: white;
    text-align: center;
}

* {
    box-sizing: border-box;
}

input[type="text"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="number"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #2b619e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #3973b6;
}

#container {
    width: 100%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}