#pagination {
  display: flex;
  gap: 50px;
  & button {
    width: 100px;
    margin: 5px 0px;
  }
}
#users {
  padding: 10px;
  display: flex;
  gap: 30px;
  & > div {
    border: 1px solid;
    padding: 10px;
  }
  & img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
  }
}
