#root {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    text-transform: capitalize;
    color: green;
}



header {
    width: 100%;
    margin: auto;
}

nav {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(180, 176, 176);
    padding: 10px;
    background-color: #d7d8d9;

    &>a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 12px;
    }
}

li:hover {
    background-color: #b2c5dc;
}
input[type="text"], button, select {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
button {
    width: 10%;
    margin-left: 20px;
}
select{
    width: 20%;
    margin-left: 20px;
}