.App{
border: 1px solid black;
width: 100%;
height: 97vh;
text-align: center;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: aqua;
}
.middle{
    border: 1px solid black;
    width: 100%;
    height: calc(97vh - 98px);
    display: flex;
    justify-content: space-between;
    background-color: rgb(176, 189, 200);
}
.sidebar{
    width: 30%;
    height: 100%;
    background-color: green;
}
.main{
    width: 68%;
    height: 100%;
    background-color: yellow;
}
.footer{
    width: 100%;
    height: 38px;
    background-color: aquamarine;
}
.fruits-list{
    text-align: left;
}
.btn-container{
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}