#root {
    width: 100%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    text-transform: capitalize;
    color: green;
}

button {
    padding: 10px 20px;
    border-radius: 3px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    text-transform: capitalize;
}

table tr:nth-child(even) {
    background-color: #8caacf;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0468aa;
    color: white;
    text-align: center;
}

header {
    width: 100%;
    margin: auto;
}

nav {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(180, 176, 176);
    padding: 10px;
    background-color: #d7d8d9;
    &>a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 12px;
    }
}
li:hover {
    background-color: #b2c5dc;
}