.navbar {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: blue;
}

.pages{
    height: 490px;
    background-color: lightcyan;
}