.navbar {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  padding: 10px;
}

.navbar a {
  color: red;
}

.pages {
  background-color: lightcyan;
}

a {
  color: blue;
  text-decoration: none;
}
